<div id="index_wrapper">
  <div id="landing-image">
    <div id="search-stock">
      <h1>Practice investment strategies</h1>
      <h3>Track your portfolio's performance and compete with your friends!</h3>
      <%= form_tag stocks_path, method: 'post', id: 'generate_graph' do %>
        <%= text_field_tag :symbol, nil, placeholder: 'Enter Stock Symbol' %>
        <%= hidden_field_tag :time_limit, nil, placeholder: 'Enter Date Range' %>
        <button type="submit" class="btn btn-success">
          &nbsp<i class="fa fa-search"></i>&nbsp
        </button>
      <% end %>
    </div>
  </div>
</div>

<div class="stock-info"></div>
