<div id="index_wrapper">
  <div id="landing-image">
    <br><br><br><br><br><br><br>
    <h1>Practice investment strategies</h1>
    <h3>Track your portfolio's performance and compete with your friends!</h3>
  </div>
</div>